// Place all the styles related to the beans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.lecture_form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    margin: 30px;
  }
  .name_field{
    width: 200px;
    margin-bottom: 30px;
  }

/*　以下新規投稿ページの星用のCSS　*/

.post_form{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 30px;
}
.post_form input[type='radio']{
  display: none;
}
.post_form label{
  cursor: pointer;
  background: url(hyggegray.png) no-repeat;
  background-size: 27px;
  position: left center;
  padding: 28px 0 0px 28px;
  color: rgb(255, 255, 255);
  margin: 2px 8px
}
.post_form label .text{
  position: absolute;
  left: 20;
  right: 30;
  text-align: center;
  font-size: 9px; /*星の上の説明書きの大きさを変更するときはここ*/
  color: gray;
}
.post_form label:hover,
.post_form label:hover ~ label,
.post_form input[type='radio']:checked ~ label{
  background: url(mink.png) no-repeat;
  background-size: 27px;
  position: left center;
  padding: 28px 0 0px 28px;
  color: rgb(255, 255, 255);
  margin: 2px 8px
}



img {
  width: 26px;
  height: 26px;
}

.details {
  display: flex;
}

font {
  margin-left: 20px;
}
/*　以下一覧ページの星用のCSS　*/

  .star-rating {
    position: relative;
    display: block;
    width: 70%;
    margin: 0 auto;
    height: 1em;
    font-size: 25px;
  }
  
  .star-rating img {
    margin-right: 15px;
    margin-left: 10px;
  }
  .star-rating-back {
    display: inline-block;
    background: url(hyggegray.png) no-repeat;
    background-size: 27px;
  }

  .bean_box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box_item {
    width: 100%;
    margin-bottom: 30px;
  }

  .bean_item {
    margin-bottom: 20px;
    position: absolute;
    text-align: left;
    margin-left: 14%;
  }
  
  .bean_item_front {
    z-index: 1;
  }

  .chara_tspt {
    opacity: 0;
    font-size: 8px;
  }


@media(max-width:1300px) {
  .body_midashi .bean_item {
    margin-left: 27% !important;
  }
  .bean_item {
    margin-left: 24%;
  }
  .clean {
    width: 90%;
    margin-right: 7%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
  }
}
@media(max-width:1100px) {
  .body_midashi .bean_item {
    margin-left: 22% !important;
  }
}
@media(max-width:1000px) {
  .body_midashi .bean_item {
    margin-left: 18% !important;
  }
}
@media(max-width:900px) {
  .bean_item {
    margin-left: 28%;
  }
  .star-rating {
    width: 90%;
  }
  .chara {
    font-size: 5px;
  }
  .star-rating img {
    margin: 0;
  }
  .box_item {
    margin-bottom: 30px;
  }
  .body_midashi .bean_item {
  margin-left: 30% !important;
  }
  .clean {
    flex-wrap: nowrap;
    justify-content: left;
  }
  .one_bean {
    margin-left: 10px;
  }
}
@media(max-width:800px) {
  .bean_item {
    width: 100%;
    text-align: left;
  }
  .star-rating {
    width: 90%;
  }
  .chara {
    font-size: 5px;
  }
  .star-rating img {
    margin: 0;
  }
  .box_item {
    margin-bottom: 30px;
  }
  .body_midashi .bean_item {
  margin-left: 21% !important;
  }
  .clean {
    width: 90%;
    margin-right: 7%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
  }
  .one_bean {
    margin-left: 3%;
  }
  .bean_item {
    margin-left: 17%;
  }
}
@media(max-width:600px) {
  .one_bean {
    margin-left: 2%;
  }
  .bean_item {
    margin-left: 13%;
  }
  .body_midashi .bean_item {
    margin-left: 15% !important;
  }
}
@media(max-width:500px) {
  .one_bean {
    margin-left: 2%;
  }
  .bean_item {
    margin-left: 5%;
  }
  .body_midashi .bean_item {
    margin-left: 6% !important;
  }
}
@media(max-width:400px) {
  .one_bean {
    margin-left: 2%;
  }
  .bean_item {
    margin-left: 5%;
  }
}
@media(max-width:300px) {
  .bean_item {
    margin-left: 0% !important;
  }
  .body_midashi .bean_item {
    margin-left: 0% !important;
  }
}




.thumbnail img {
  width: 100px;
  height: 100px;
  border-radius: 30px;
}

.title {
  font-size: 16px; 
  color: #786e6a;
}

.product_name {
  color: #000000;
}

.body_midashi {
  margin-left: 60px;
}

.dekai_midashi2 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

.dekai_midashi2:before, .dekai_midashi2:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 2px;
  border-top: solid 1px #786e6a;
  border-bottom: solid 1px #786e6a;
}

.dekai_midashi2:before {
  left:0;
}
.dekai_midashi2:after {
  right: 0;
}
.dekai_midashi2 {
  color: #786e6a;
  font-size: 20px; 
  font-family: "Hannotate SC";
}

.body_midashi .bean_item {
  margin-left: 30.5%;
}

.memo_txt {
  height: 200px;
  width: 300px;
}

.submit_btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  color: #FFF;
  background-image: linear-gradient(45deg, #786e6a 0%, #c6bbb7 80%);
  transition: .4s;
  border: 0px;
  margin: 10px 0px 30px 0px;
}

.submit_btn:hover {
  background-image: linear-gradient(45deg, #786e6a 10%, #c6bbb7 100%);
}

.wrapper{
  width:100%;
  overflow-x: hidden;
  }

@media(max-width:300px) {
  .wrapper{
    width:100%;
    }
  }

  .already_heart {
    color: #786e6a;
  }

  .memo_area {
    width: 80%;
  }
  
  .title_name {
    border-left :solid 5px #c6bbb7;
    border-bottom: solid 1px #c6bbb7;
    margin-bottom: 1%;
    width: 30%;
  }